PORT=3000
MONGODB_URI=mongodb+srv://GymBuddy:sunnyismyname@cluster0.aht8ide.mongodb.net/finance_tracker?appName=Cluster0
SESSION_SECRET=your_session_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
# EmailJS Configuration (dashboard.emailjs.com → Account → API Keys)
EMAILJS_PUBLIC_KEY=2WokA7W58h_-Iej1A
EMAILJS_SERVICE_ID=service_sxnolwi
EMAILJS_TEMPLATE_ID=template_qjbo0j5
XAI_API_KEY=your_grok_xai_api_key_here
